body{
	font-family: 'Titillium Web', sans-serif;
	padding: 0;
	margin:0;
	background: url(../images/bg.jpg);
	background-size: cover;
}

ul,li{
	list-style: none;
	margin:0;
	padding:0;
}

table {
	width: 100%;
	font-size: 12px;
}

table td, table th
{
	text-align: left;
	padding: 10px;
}

table th {
	background: #ececec;
	font-weight: bold;
	padding: 4px;
}

table tr {
	margin: 4px 0;
}

nav {
	float: left;
	margin-left: 20px;
}

nav li {
	display: inline;
}

nav a {
	padding: 8px 12px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: rgb(54, 215, 225);
}

nav a.selected {
	position: relative;
	background: rgb(54, 215, 225);
	color: black;
}

nav a.selected:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(54, 215, 225, 0);
	border-top-color: rgb(54, 215, 225);
	border-width: 8px;
	margin-left: -8px;
}

nav a:hover {
	background: rgb(0, 191, 203);
	color: black;
}

.tab a {
	color: #6f7074;
	text-decoration: none;
}

.container, .contentWrapper
{
 	margin: 0 auto;
}

header, .contentWrapper, footer{
	margin: 0 auto;
	/* max-width: 900px; */
}

.contentWrapper ul
{
	display: inline-block;
}

.content
{
	padding-left:30px;
	padding-right:30px;
	min-height: 300px;
}

.content h2
{
	color:#7c7c7c;
}

.content ul li
{
	float: left;
}

.tabs {
	background: #272727;
	text-transform: uppercase;
	display: block;
	padding-left: 0px;
	margin-bottom: 0px;
	line-height: 1;
}

.tabs ul {
	border-right: 1px solid black;
}

.tabs ul li {
	border-right: 1px solid #414141;
	border-left: 1px solid black;
}
.tab
{
	float: left;
	padding: 14px 30px;	
	color: white;
}

.tab:hover
{
	background: #4c4c4c;
}

.ohjelma
{
	
}

.container {
	background: white;
	margin: 80px 40px 40px 40px;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.8);
	padding-bottom: 40px;
}

header {
	background: black;
	position: fixed;
	top: 0px;
	left: 0px;
	color: white;
	width: 100%;
}

.shl-logo {
	position: absolute;
	left: 20px;
	top: 10px;
}

.login {
	position: absolute;
	right: 40px;
	top: 20px;
}

header h1 {
	font-size: 14px;
	display: inline;
	float: left;
	margin-left: 90px;
	text-transform: uppercase;
}

.team-logo {
	padding-left: 50px;
	background-size: 40px 3000px;
	background-repeat: no-repeat;
	background-image: url(../images/logos.svg);
}

.anaheim-ducks 		{		background-position: 4px 0px;		}
.arizona-coyotes 	{		background-position: 4px -100px; 	}
.boston-bruins	 	{		background-position: 4px -200px; 	}
.buffalo-sabres 	{		background-position: 4px -300px; 	}
.calgary-flames 	{		background-position: 4px -400px; 	}
.carolina-hurricanes{		background-position: 4px -500px; 	}
.chicago-blackhawks	{		background-position: 4px -600px; 	}
.colorado-avalanche	{		background-position: 0px -700px; 	}
.columbus-blue-jackets{		background-position: 0px -800px; 	}
.dallas-stars	 	{		background-position: 0px -900px; 	}
.detroit-red-wings 	{		background-position: 0px -1000px; 	}
.florida-panthers 	{		background-position: 0px -1100px; 	}
.edmonton-oilers 	{		background-position: 0px -1200px; 	}
.new-york-islanders	{		background-position: 0px -1300px; 	}
.los-angeles-kings 	{		background-position: 0px -1400px; 	}
.minnesota-wild 	{		background-position: 0px -1500px; 	}
.montreal-canadiens	{		background-position: 0px -1600px; 	}
.nashville-predators{		background-position: 0px -1700px; 	}
.new-jersey-devils 	{		background-position: 0px -1800px; 	}
.new-york-rangers 	{		background-position: 0px -1900px;	}
.ottawa-senators 	{		background-position: 0px -2000px; 	}
.philadelphia-flyers{		background-position: 0px -2100px; 	}
.pittsburgh-penguins{		background-position: 0px -2200px; 	}
.san-jose-sharks 	{		background-position: 0px -2300px; 	}
.st-louis-blues 	{		background-position: 0px -2400px; 	}
.tampa-bay-lightning{		background-position: 0px -2500px; 	}
.toronto-maple-leafs{		background-position: 0px -2600px; 	}
.vancouver-canucks 	{		background-position: 0px -2700px; 	}
.washington-capitals{		background-position: 0px -2800px; 	}
.winnipeg-jets 		{		background-position: 0px -2900px; 	}

footer {
	color: white;
	text-align: center;
	background: #2b2b2b;
	float: right;
	margin: 40px 20px 0px 0px;
	color: #818181;
	font-size: 10px;
	text-transform: uppercase;
	padding: 8px 20px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
