body{
	font-family: 'Titillium Web', sans-serif;
	padding: 0;
	margin:0;
	background: url(../images/bg.jpg);
	background-size: cover;
}

ul,li{
	list-style: none;
	margin:0;
	padding:0;
}

table {
	width: 100%;
	font-size: 12px;
}

table td, table th
{
	text-align: left;
	padding: 10px;
}

nav li {
	display: inline;
}

nav a, .tab a{
	color: #6f7074;
	text-decoration: none;
}

.container, .contentWrapper
{
 	margin: 0 auto;
}

header, .contentWrapper, footer{
	margin: 0 auto;
	/* max-width: 900px; */
	padding-left:30px;
	padding-right:30px;
}

.contentWrapper ul
{
	display: inline-block;
}

.content
{
	min-height: 300px;
}

.content h2
{
	color:#7c7c7c;
}

.content ul li
{
	float: left;
}

.tab
{
	float: left;
	background: #f7f4f4;
	font-size: 1em;
	overflow: auto;
	margin-right: 10px;
	padding: 10px 10px 10px 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
}

.tab a:hover
{
	color:#e52a82;
}

.ohjelma
{
	
}

.container {
	background: white;
	margin: 80px 40px 40px 40px;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.8);
}

header {
	background: #191919;
	position: fixed;
	top: 0px;
	left: 0px;
	color: white;
	width: 100%;
}

.login {
	position: absolute;
	right: 40px;
	top: 20px;
}

header h1 {
	font-size: 14px;
	display: inline;
	float: left;
}