body{
	font-family: 'Titillium Web', sans-serif;
	padding: 0;
	margin:0;
	background: url(../images/bg.jpg);
	background-size: cover;
}

ul,li{
	list-style: none;
	margin:0;
	padding:0;
}

table {
	width: 100%;
	font-size: 12px;
}

table td, table th
{
	text-align: left;
	padding: 10px;
}


table th {
	background: #ececec;
	font-weight: bold;
	padding: 4px;
}
nav li {
	display: inline;
}

nav a, .tab a{
	color: #6f7074;
	text-decoration: none;
}

.container, .contentWrapper
{
 	margin: 0 auto;
}

header, .contentWrapper, footer{
	margin: 0 auto;
	/* max-width: 900px; */
}

.contentWrapper ul
{
	display: inline-block;
}

.content
{
	padding-left:30px;
	padding-right:30px;
	min-height: 300px;
}

.content h2
{
	color:#7c7c7c;
}

.content ul li
{
	float: left;
}

.tabs {
	background: #272727;
	text-transform: uppercase;
	display: block;
	padding-left: 0px;
	margin-bottom: 0px;
	line-height: 1;
}

.tabs ul {
	border-right: 1px solid black;
}

.tabs ul li {
	border-right: 1px solid #414141;
	border-left: 1px solid black;
}
.tab
{
	float: left;
	padding: 14px 30px;	
	color: white;
}

.tab:hover
{
	background: #4c4c4c;
}

.ohjelma
{
	
}

.container {
	background: white;
	margin: 80px 40px 40px 40px;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.8);
	padding-bottom: 40px;
}

header {
	background: #191919;
	position: fixed;
	top: 0px;
	left: 0px;
	color: white;
	width: 100%;
}

footer {
	color: white;
	text-align: center;
	background: #2b2b2b;
	float: right;
	margin: 40px 20px 0px 0px;
	color: #818181;
	font-size: 10px;
	text-transform: uppercase;
	padding: 8px 20px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.login {
	position: absolute;
	right: 40px;
	top: 20px;
}

header h1 {
	font-size: 14px;
	display: inline;
	float: left;
}